@model BonusSystemConsults.Bonus
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bonus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusPot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusPot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHoursWithBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHoursWithBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargedHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargedHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargedHoursWithBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargedHoursWithBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusInMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusInMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
